# App
APP_PORT=8000
APP_ENV=development

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=secret
DB_NAME=krs_db

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=

# JWT
JWT_SECRET=ganti-dengan-secret-yang-aman
JWT_EXPIRY=24

# CORS — pisahkan dengan koma untuk multi-origin
CORS_ORIGIN=http://localhost:5173,https://topik-sistem-akademik-py.netlify.app
